@font-face{
    font-family: 'ROBOTO';
    src: url(design/Roboto-Black.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

li  {
    list-style: none;    
}
p{
    margin: 0;
}

body{
    background: black;
    height: 70vh;
    display: grid;                    
    align-items: center;  
}

main{    
    background: black;       
    display: grid;                  
}

.linha1{
    display: inline;   
    margin-bottom: 30px;
} 

.btnRein {
    color: black;
    background: #21EB00;
    font-family: 'ROBOTO','Times New Roman', Times, serif;
    font-size: 5rem;
    font-style: normal;
    float: right;
    margin: auto;
    margin-top: 40px;
    margin-right: 40px;
    
    border-radius: 30px;    
    
    padding-left: 30px;
    padding-right: 30px; 
}

label {
    color: #21EB00;
    font-size: 5rem;
    font-family: 'ROBOTO','Times New Roman', Times, serif;
    float: left;
    margin: auto;

    margin-left: 70px;
    margin-top: 40px;
}

.faltam {
    color: #191A18;
    font-family: 'ROBOTO','Times New Roman', Times, serif;
    font-size: 5rem;
    margin: auto;
    /* position: absolute;
    left: 800px;
    top: 250px; */
}

.countown {
    background: black;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 100px));
    justify-content: center;
    gap: 50px;
    padding: 10px;
}

.countown li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 3rem;
    padding: 1rem;                    
    color: #21EB00;
    background: black;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 4);
    text-align: center;
}

.countown span{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 10rem;                    
}