p {
    margin: 0;
}

@font-face {
    font-family: 'ROBOTO';
    src: url(design/Roboto-Black.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    background: black;
    height: 90vh;
    display: grid;                    
    align-items: center;  
}
main {
    display: grid;
    justify-content: center;
    gap: 10px;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    
    min-width: 320px;
    max-width: 800px; 
    margin: auto; 
}
 
input{
    font-family: 'ROBOTO', 'Times New Roman', Times, serif;
    font-style: normal;
    color: white;
    gap: 10px;
    padding: 15px;
    background: #191A18;
    
    font-size: 3rem;    
    text-align: center;
    border-radius: 30px;    
    padding-left: 30px;
    padding-right: 30px;
    border: 0 none;   
}

#botao {
    font-family: 'ROBOTO',Times,serif ;
    background: #21EB00;    
    color: black;
    font-size: 3rem;
    font-style: normal;
    border-radius: 30px;    
} 

p {
    font-family: 'ROBOTO', 'Times New Roman', Times, serif;
    font-style: normal;                
    text-align: center;
}

.p1 {             
    color: #21EB00;                
    font-size: 5rem; 
}

.p2 {
    color: #cfd6c8;
    font-size: 3rem; 
} 